{% extends "base.html" %}

{% block content %}
<div class="container">
    {{ form|safe }}
    <h3>The form definition</h3>
    <pre class="prettyprint linenums languague-python">class DynamicForm(Form):
    # simple header trigger for the template
    title = "Dynamic Form"
    g_context={'ajax': True}
    class AddNodeDynamic(NonDataNode):
        """ This is our custom Node that allows the addition of other Nodes. It
        basically runs some javascript that clones the pre-existing Node,
        changes some parameters, and then re-injects it. It could use some
        improvement as it's just for demonstration. In the future some of this
        could be genericized and mainlined into the library, but for now this
        demonstrates the potential.

        Also note that it inherits from NonDataNode since it doesn't generate
        any output. This will prevent a DataAccessException on submission.
        """
        template = "dynamic_add"

    @classmethod
    def get_form_from_data(cls, data):
        # This function looks for any hidden fields that were submitted with
        # the prefix _arg_ and turns them into kwargs that were used to
        # generate the form. Essentially we're storing the important parameters
        # used to generate the form in hidden input fields
        kwargs = {}
        # loop over all our data
        for key, val in data.iteritems():
            if key.startswith('_arg_'):
                # Chop off the _arg_ part and add it to kwargs
                kwargs[key[5:]] = val
        # return the generated form
        return cls.get_form(**kwargs)

    @classmethod
    def get_form(cls, count=1, **kwargs):
        # a method that allows us to repeatably build a dynamic form based on
        # parameters.

        # Build our basic form
        form = DynamicForm(hidden={'count': count})

        # Make a list of nodes to add into the Form nodelist
        append_list = []
        for i in xrange(int(count)):
            # Add a new entry node to it
            append_list.append(
                EntryNode(title="Item {0}".format(i), _attr_name='item{0}'.format(i)))
            # Also add a validator. At this point cannot be added through the
            # shorthand with dynamic nodes. To come in the future
            form.insert_validator(Check(MinLengthValidator(5), 'item{0}'.format(i)))

        # Now insert our list of nodes. We could also have just inserted them
        # one by one in the loop above, this was simply to demonstrate that the
        # insert method accepts a list
        form.insert_after('l_title', append_list)
        return form

    # Accept a simple title that requires minlength
    l_title = EntryNode(title="List Title", validators=MinLengthValidator(5))
    # Our button that adds a row
    add_row = AddNodeDynamic()
    # Notice that we don't have a single entrynode. This will be created by the
    # default args for get_form, since we notice that count=1
    submit = SubmitNode(title="Submit")

    def success_header_generate(self):
        return {'message': 'Thanks for your submission!'}</pre>
    <h3>Our view function<small>(in Flask)</small></h3>
    <pre class="prettyprint linenums languague-python">@app.route("/dynamic", methods=['GET', 'POST'])
def dynamic():

    # Handle submission of the form
    if request.method == 'POST':
        # This may be a bit confusing. Essentially we're using the data
        # submitted with the request to build our object representation of the
        # form. This is the magic of dynamic forms that allows them to match a
        # changing form based on parameters
        form = DynamicForm.get_form_from_data(request.form)
        # Then we validate the form just like the old AJAX form
        success, output = form.json_validate(request.form)
        if success:
            print ("Yay! Successfully validated. Some other actions should be "
                  " taken here...")
        return output

    # Generate the form as default if there's no submission
    form_out = DynamicForm.get_form().render()

    return render_template('dynamic.html',
                            form=form_out)</pre>
</div>
{% endblock %}
