{% extends "base.html" %}
{%block title%}Home{%endblock%}

{% block content %}
<div class="well" style="padding:60px; font-size:16px;">
    <h1>Yota</h1>
    <br>
    <h3 class="indent-quote col-lg-offset-1">Flexible Python web form generation with asynchronous validation.</h3>
    <br><br>
    <div class="row">
        <div class="col-lg-4">
        <h3><i class="icon-dashboard icon-large"></i> &nbsp;Realtime Validation</h3>
        <p>Trigger a server side form
        validation with any JavaScript event on your input fields. Validation is
        carried out by reusable validation methods built into your schema.</p>
        </div>
        <div class="col-lg-4">
        <h3><i class="icon-code icon-large"></i> &nbsp;Sane Defaults</h3>
        <p>Default themed with Bootstrap with a wide array of default Nodes and
        validators makes mockups easy.</p>
        </div>
        <div class="col-lg-4">
        <h3><i class="icon-cogs icon-large"></i> &nbsp;Dynamic Forms</h3>
        <p>Dynamic form structures allow for complex forms with on the fly changes.
            Inject different input fields or validation methods into a specific instance
            of your Form where needed.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
        <h3><i class="icon-exchange icon-large"></i> &nbsp;Framework Agnostic</h3>
        <p>Designed to work well with Pyramid, Django, Flask, and likely many
        others.</p>
        </div>
        <div class="col-lg-4">
        <h3><i class="icon-ellipsis-vertical icon-large"></i> &nbsp;Hierarchical Schemas</h3>
        <p>Blueprints allow you to build Forms out of re-usable chunks that
        can be mix and matched, helping your forms be more DRY.</p>
        </div>
        <div class="col-lg-4">
        <h3><i class="icon-check icon-large"></i> &nbsp;Flexible Validation</h3>
        <p>Validation methods can accept an arbitrary array of Nodes that can be
        plugged in on a per-schema basis.</p>
        </div>
    </div>
    <span style="height:5px; display:block;"></span>
    <div class="row">
        <div class="col-lg-4">
        <a style="margin-right:20px" href="piecewise" class="btn btn-info">Piecewise Example</a><br />
        </div>
        <div class="col-lg-4">
        <a style="margin-right:20px" href="basic" class="btn btn-info ">Basic Example</a><br /><br />
        </div>
        <div class="col-lg-4">
        <a style="margin-right:20px" href="dynamic" class="btn btn-info">Dynamic Example</a>
        </div>
    </div>
    <br>
    <div class="row">
        <hr style="border-top:1px solid #AAA;">
    </div>
    <br><br>
    <p class="text-center">
    <a style="margin-right:20px; padding:10px;"
        href="https://github.com/icook/yota_examples"
        class="btn btn-success">This Site on Github</a>
    <a style="margin-right:20px; padding:10px;"
        href="https://github.com/icook/yota"
        class="btn btn-primary">Yota on Github</a>
    <a style="margin-right:20px; padding:10px;"
        href="https://groups.google.com/d/forum/yota-discuss"
        class="btn btn-danger">Mailing List</a>
    <a style="margin-right:20px; padding:10px;" href="https://github.com/icook/yota/issues"
        class="btn btn-warning">Issue Tracker</a>
    </p>
</div>
<div class="well" style="padding:60px; font-size:16px;">
    <h1><a href="https://yota.readthedocs.org/en/latest/">Documentation</a></h2>
    <ul>
        <li class="toctree-l1"><a class="reference internal" href="Form.html">Using Forms</a><ul>
            <li class="toctree-l2"><a class="reference internal" href="Form.html#a-simple-form">A Simple Form</a></li>
            <li class="toctree-l2"><a class="reference internal" href="Form.html#validation-intro">Validation Intro</a></li>
            <li class="toctree-l2"><a class="reference internal" href="Form.html#rendering-engines">Rendering Engines</a><ul>
                <li class="toctree-l3"><a class="reference internal" href="Form.html#renderer-interface">Renderer Interface</a></li>
                <li class="toctree-l3"><a class="reference internal" href="Form.html#switching-renderers">Switching Renderers</a></li>
            </ul>
            </li>
            <li class="toctree-l2"><a class="reference internal" href="Form.html#dynamic-forms">Dynamic Forms</a></li>
            <li class="toctree-l2"><a class="reference internal" href="Form.html#form-api">Form API</a></li>
        </ul>
        </li>
        <li class="toctree-l1"><a class="reference internal" href="Nodes.html">Nodes</a><ul>
            <li class="toctree-l2"><a class="reference internal" href="Nodes.html#a-simple-node">A Simple Node</a></li>
            <li class="toctree-l2"><a class="reference internal" href="Nodes.html#custom-nodes">Custom Nodes</a><ul>
                <li class="toctree-l3"><a class="reference internal" href="Nodes.html#changing-data-resolution">Changing data resolution</a></li>
                <li class="toctree-l3"><a class="reference internal" href="Nodes.html#json-identifiers">json_identifiers</a></li>
                <li class="toctree-l3"><a class="reference internal" href="Nodes.html#set-identifiers">set_identifiers</a></li>
            </ul>
            </li>
            <li class="toctree-l2"><a class="reference internal" href="Nodes.html#builtin-nodes">Builtin Nodes</a></li>
            <li class="toctree-l2"><a class="reference internal" href="Nodes.html#node-api">Node API</a></li>
        </ul>
        </li>
        <li class="toctree-l1"><a class="reference internal" href="Validators.html">Validators and Checks</a><ul>
            <li class="toctree-l2"><a class="reference internal" href="Validators.html#using-validators-in-your-form">Using Validators In Your Form</a></li>
            <li class="toctree-l2"><a class="reference internal" href="Validators.html#making-custom-validators">Making Custom Validators</a></li>
            <li class="toctree-l2"><a class="reference internal" href="Validators.html#return-semantics">Return Semantics</a></li>
            <li class="toctree-l2"><a class="reference internal" href="Validators.html#validator-execution">Validator Execution</a></li>
            <li class="toctree-l2"><a class="reference internal" href="Validators.html#special-key-values">Special Key Values</a></li>
            <li class="toctree-l2"><a class="reference internal" href="Validators.html#builtin-validators">Builtin Validators</a></li>
            <li class="toctree-l2"><a class="reference internal" href="Validators.html#check-api">Check API</a></li>
        </ul>
        </li>
        <li class="toctree-l1"><a class="reference internal" href="AJAX.html">AJAX Validation</a><ul>
            <li class="toctree-l2"><a class="reference internal" href="AJAX.html#on-submit-validation">On-Submit Validation</a></li>
            <li class="toctree-l2"><a class="reference internal" href="AJAX.html#piecewise-validation">Piecewise Validation</a><ul>
                <li class="toctree-l3"><a class="reference internal" href="AJAX.html#validation-tiggers">Validation Tiggers</a></li>
            </ul>
            </li>
        </ul>
        </li>
    </ul>
    <br />
    <a href="https://yota.readthedocs.org/en/latest/" class="btn
            btn-info" style="margin-right:20px; padding:10px;">ReadTheDocs</a>
    {% endblock %}
