{% extends "base.html" %}

{% block content %}
<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Yota</h1>
    <p>Yota is a Python based framework designed to make throwing together
    decent forms really fast, yet allowing flexibility for making complicated
    forms as well. The default library templates use Bootstrap and have support
    for AJAX based validation out of the box. Yota is small and well documented
    with the intent that if something isn't there, it's easy enough to patch it
    in. Coming in at under 1000 lines of code complete comprehension of the
    libraries interworkings can be achieved quite rapidly.</p>
    <p class="text-center"><a style="margin-right:40px"
        href="https://github.com/icook/yota" class="btn btn-warning
        btn-large">Github</a>
    <a href="https://yota.readthedocs.org/en/latest/" class="btn btn-success btn-large">Documentation</a></p>
  </div>
</div>
{% endblock %}
